#anchorPane,
#vboxRoot {
  -fx-background-color: #115e59;
}

#albumListScrollPane {
  -fx-background-color: #f3f4f6;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}

#searchButton,
#logoutButton,
#addAlbumButton {
  -fx-background-color: #fde047;
  -fx-font-weight: bold;
}

#searchButton:hover,
#logoutButton:hover,
#addAlbumButton:hover {
  -fx-background-color: #fef08a;
}

#yourAlbums {
  -fx-text-fill: #fde047;
}
