#anchorPane {
  -fx-background-color: #115e59;
}

#loginCard {
  -fx-background-color: #f3f4f6;
  -fx-border-radius: 8px;
  -fx-background-radius: 8px;
  -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.8), 5, 0, 0, 0);
}

#loginButton {
  -fx-background-color: #0f766e;
  -fx-text-fill: #f3f4f6;
}

#loginButton:hover {
  -fx-background-color: #0d9488;
}
